--
-- PostgreSQL database dump
--

\restrict LIco1Pw097eQBQHlRomqhq9PVec9wwPfAE9zpUjr6CSb3l4KFYcT2qrFboUFj6d

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: root
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO root;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: root
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.activities (
    "activityId" integer NOT NULL,
    "activityName" text NOT NULL,
    description text,
    "coverImage" text,
    location text,
    "activityType" text NOT NULL,
    "teamMode" text DEFAULT 'individual'::text NOT NULL,
    "startTime" timestamp(3) without time zone,
    "endTime" timestamp(3) without time zone,
    "registrationDeadline" timestamp(3) without time zone,
    "minParticipants" integer,
    "maxParticipants" integer,
    "activityStatus" text DEFAULT 'draft'::text NOT NULL,
    prize text,
    "organizationId" integer NOT NULL,
    "categoryId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer,
    "registrationFormId" integer
);


ALTER TABLE public.activities OWNER TO root;

--
-- Name: activities_activityId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."activities_activityId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."activities_activityId_seq" OWNER TO root;

--
-- Name: activities_activityId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."activities_activityId_seq" OWNED BY public.activities."activityId";


--
-- Name: activity_categories; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.activity_categories (
    "categoryId" integer NOT NULL,
    "categoryName" text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.activity_categories OWNER TO root;

--
-- Name: activity_categories_categoryId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."activity_categories_categoryId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."activity_categories_categoryId_seq" OWNER TO root;

--
-- Name: activity_categories_categoryId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."activity_categories_categoryId_seq" OWNED BY public.activity_categories."categoryId";


--
-- Name: activity_checkins; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.activity_checkins (
    "checkinId" integer NOT NULL,
    "activityId" integer NOT NULL,
    "checkInTime" timestamp(3) without time zone,
    "checkOutTime" timestamp(3) without time zone,
    "checkInCloseTime" timestamp(3) without time zone,
    "checkOutCloseTime" timestamp(3) without time zone
);


ALTER TABLE public.activity_checkins OWNER TO root;

--
-- Name: activity_checkins_checkinId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."activity_checkins_checkinId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."activity_checkins_checkinId_seq" OWNER TO root;

--
-- Name: activity_checkins_checkinId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."activity_checkins_checkinId_seq" OWNED BY public.activity_checkins."checkinId";


--
-- Name: activity_team_rules; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.activity_team_rules (
    "ruleId" integer NOT NULL,
    "activityId" integer NOT NULL,
    "minTeamMembers" integer,
    "maxTeamMembers" integer
);


ALTER TABLE public.activity_team_rules OWNER TO root;

--
-- Name: activity_team_rules_ruleId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."activity_team_rules_ruleId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."activity_team_rules_ruleId_seq" OWNER TO root;

--
-- Name: activity_team_rules_ruleId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."activity_team_rules_ruleId_seq" OWNED BY public.activity_team_rules."ruleId";


--
-- Name: answer_options; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.answer_options (
    "answerOptionId" integer NOT NULL,
    "otherText" text,
    "answerId" integer NOT NULL,
    "optionId" integer,
    "rowId" integer,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.answer_options OWNER TO root;

--
-- Name: answer_options_answerOptionId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."answer_options_answerOptionId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."answer_options_answerOptionId_seq" OWNER TO root;

--
-- Name: answer_options_answerOptionId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."answer_options_answerOptionId_seq" OWNED BY public.answer_options."answerOptionId";


--
-- Name: answers; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.answers (
    "answerId" integer NOT NULL,
    "textValue" text,
    "fileUrl" text,
    "questionId" integer NOT NULL,
    "responseId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.answers OWNER TO root;

--
-- Name: answers_answerId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."answers_answerId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."answers_answerId_seq" OWNER TO root;

--
-- Name: answers_answerId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."answers_answerId_seq" OWNED BY public.answers."answerId";


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.chat_messages (
    "messageId" integer NOT NULL,
    "sessionId" integer NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO root;

--
-- Name: chat_messages_messageId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."chat_messages_messageId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."chat_messages_messageId_seq" OWNER TO root;

--
-- Name: chat_messages_messageId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."chat_messages_messageId_seq" OWNED BY public.chat_messages."messageId";


--
-- Name: chat_sessions; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.chat_sessions (
    "sessionId" integer NOT NULL,
    "userId" integer NOT NULL,
    title text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chat_sessions OWNER TO root;

--
-- Name: chat_sessions_sessionId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."chat_sessions_sessionId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."chat_sessions_sessionId_seq" OWNER TO root;

--
-- Name: chat_sessions_sessionId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."chat_sessions_sessionId_seq" OWNED BY public.chat_sessions."sessionId";


--
-- Name: club_applications; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.club_applications (
    "applicationId" integer NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "interviewTime" timestamp(3) without time zone,
    result text DEFAULT 'pending'::text NOT NULL,
    note text,
    "activityId" integer,
    "userId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer,
    "organizationId" integer
);


ALTER TABLE public.club_applications OWNER TO root;

--
-- Name: club_applications_applicationId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."club_applications_applicationId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."club_applications_applicationId_seq" OWNER TO root;

--
-- Name: club_applications_applicationId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."club_applications_applicationId_seq" OWNED BY public.club_applications."applicationId";


--
-- Name: form_responses; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.form_responses (
    "responseId" integer NOT NULL,
    status text DEFAULT 'submitted'::text NOT NULL,
    "respondentEmail" text,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "formId" integer NOT NULL,
    "userId" integer,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.form_responses OWNER TO root;

--
-- Name: form_responses_responseId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."form_responses_responseId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."form_responses_responseId_seq" OWNER TO root;

--
-- Name: form_responses_responseId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."form_responses_responseId_seq" OWNED BY public.form_responses."responseId";


--
-- Name: form_sections; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.form_sections (
    "sectionId" integer NOT NULL,
    title text NOT NULL,
    description text,
    "order" integer DEFAULT 0 NOT NULL,
    "navigationType" text DEFAULT 'next'::text NOT NULL,
    "formId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.form_sections OWNER TO root;

--
-- Name: form_sections_sectionId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."form_sections_sectionId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."form_sections_sectionId_seq" OWNER TO root;

--
-- Name: form_sections_sectionId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."form_sections_sectionId_seq" OWNED BY public.form_sections."sectionId";


--
-- Name: forms; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.forms (
    "formId" integer NOT NULL,
    title text NOT NULL,
    description text,
    "headerImageUrl" text,
    "confirmationMessage" text,
    status text DEFAULT 'open'::text NOT NULL,
    "collectEmail" boolean DEFAULT false NOT NULL,
    "limitOneResponse" boolean DEFAULT true NOT NULL,
    "allowEditResponse" boolean DEFAULT false NOT NULL,
    "showProgressBar" boolean DEFAULT false NOT NULL,
    "shuffleQuestions" boolean DEFAULT false NOT NULL,
    "requireSignIn" boolean DEFAULT true NOT NULL,
    "responseLimit" integer,
    "openAt" timestamp(3) without time zone,
    "closeAt" timestamp(3) without time zone,
    "activityId" integer,
    "organizationId" integer,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.forms OWNER TO root;

--
-- Name: forms_formId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."forms_formId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."forms_formId_seq" OWNER TO root;

--
-- Name: forms_formId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."forms_formId_seq" OWNED BY public.forms."formId";


--
-- Name: grid_rows; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.grid_rows (
    "rowId" integer NOT NULL,
    label text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "questionId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.grid_rows OWNER TO root;

--
-- Name: grid_rows_rowId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."grid_rows_rowId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."grid_rows_rowId_seq" OWNER TO root;

--
-- Name: grid_rows_rowId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."grid_rows_rowId_seq" OWNED BY public.grid_rows."rowId";


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.notifications (
    "notificationId" integer NOT NULL,
    title text NOT NULL,
    content text,
    "notificationTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'unread'::text NOT NULL,
    "notificationType" text,
    "userId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.notifications OWNER TO root;

--
-- Name: notifications_notificationId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."notifications_notificationId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."notifications_notificationId_seq" OWNER TO root;

--
-- Name: notifications_notificationId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."notifications_notificationId_seq" OWNED BY public.notifications."notificationId";


--
-- Name: organization_documents; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.organization_documents (
    "documentId" integer NOT NULL,
    "documentName" text NOT NULL,
    "fileUrl" text NOT NULL,
    category text,
    "organizationId" integer NOT NULL,
    "userId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.organization_documents OWNER TO root;

--
-- Name: organization_documents_documentId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."organization_documents_documentId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."organization_documents_documentId_seq" OWNER TO root;

--
-- Name: organization_documents_documentId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."organization_documents_documentId_seq" OWNED BY public.organization_documents."documentId";


--
-- Name: organization_members; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.organization_members (
    "userId" integer NOT NULL,
    "organizationId" integer NOT NULL,
    role text,
    "joinDate" date,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.organization_members OWNER TO root;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.organizations (
    "organizationId" integer NOT NULL,
    "organizationName" text NOT NULL,
    "organizationType" text NOT NULL,
    "logoUrl" text,
    "coverImageUrl" text,
    description text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer,
    email text,
    password text,
    status text DEFAULT 'active'::text NOT NULL,
    "isRecruiting" boolean DEFAULT false NOT NULL,
    "applyDeadline" timestamp(3) without time zone,
    "interviewSchedule" timestamp(3) without time zone,
    "leftImageUrl" text,
    "middleImageUrl" text,
    "recruitmentFormId" integer,
    "responseDeadline" timestamp(3) without time zone,
    "rightImageUrl" text,
    "facebookUrl" text,
    "phoneNumber" text,
    "tiktokUrl" text
);


ALTER TABLE public.organizations OWNER TO root;

--
-- Name: organizations_organizationId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."organizations_organizationId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."organizations_organizationId_seq" OWNER TO root;

--
-- Name: organizations_organizationId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."organizations_organizationId_seq" OWNED BY public.organizations."organizationId";


--
-- Name: question_options; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.question_options (
    "optionId" integer NOT NULL,
    label text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "isOther" boolean DEFAULT false NOT NULL,
    "imageUrl" text,
    "goToSectionId" integer,
    "questionId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.question_options OWNER TO root;

--
-- Name: question_options_optionId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."question_options_optionId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."question_options_optionId_seq" OWNER TO root;

--
-- Name: question_options_optionId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."question_options_optionId_seq" OWNED BY public.question_options."optionId";


--
-- Name: questions; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.questions (
    "questionId" integer NOT NULL,
    title text NOT NULL,
    description text,
    type text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    required boolean DEFAULT false NOT NULL,
    "scaleMin" integer,
    "scaleMax" integer,
    "scaleMinLabel" text,
    "scaleMaxLabel" text,
    "allowedFileTypes" text[] DEFAULT ARRAY[]::text[],
    "maxFileSize" integer,
    "maxFiles" integer,
    "imageUrl" text,
    "videoUrl" text,
    "validationRules" jsonb,
    "displayCondition" jsonb,
    "sectionId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.questions OWNER TO root;

--
-- Name: questions_questionId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."questions_questionId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."questions_questionId_seq" OWNER TO root;

--
-- Name: questions_questionId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."questions_questionId_seq" OWNED BY public.questions."questionId";


--
-- Name: registration_checkins; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.registration_checkins (
    "checkinId" integer NOT NULL,
    "registrationId" integer NOT NULL,
    "activityCheckinId" integer,
    "checkInTime" timestamp(3) without time zone,
    "checkOutTime" timestamp(3) without time zone
);


ALTER TABLE public.registration_checkins OWNER TO root;

--
-- Name: registration_checkins_checkinId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."registration_checkins_checkinId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."registration_checkins_checkinId_seq" OWNER TO root;

--
-- Name: registration_checkins_checkinId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."registration_checkins_checkinId_seq" OWNED BY public.registration_checkins."checkinId";


--
-- Name: registrations; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.registrations (
    "registrationId" integer NOT NULL,
    "teamName" text,
    "isLookingForTeam" boolean,
    status text DEFAULT 'pending'::text NOT NULL,
    "registrationTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "registrationType" text DEFAULT 'individual'::text NOT NULL,
    "userId" integer NOT NULL,
    "activityId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.registrations OWNER TO root;

--
-- Name: registrations_registrationId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."registrations_registrationId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."registrations_registrationId_seq" OWNER TO root;

--
-- Name: registrations_registrationId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."registrations_registrationId_seq" OWNED BY public.registrations."registrationId";


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.reviews (
    "reviewId" integer NOT NULL,
    rating integer NOT NULL,
    comment text,
    "reviewTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "registrationId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.reviews OWNER TO root;

--
-- Name: reviews_reviewId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."reviews_reviewId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."reviews_reviewId_seq" OWNER TO root;

--
-- Name: reviews_reviewId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."reviews_reviewId_seq" OWNED BY public.reviews."reviewId";


--
-- Name: roles; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.roles (
    "roleId" integer NOT NULL,
    code text NOT NULL,
    "roleName" text NOT NULL,
    description text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.roles OWNER TO root;

--
-- Name: roles_roleId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."roles_roleId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."roles_roleId_seq" OWNER TO root;

--
-- Name: roles_roleId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."roles_roleId_seq" OWNED BY public.roles."roleId";


--
-- Name: system_configs; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.system_configs (
    "configId" integer NOT NULL,
    key text NOT NULL,
    value jsonb NOT NULL,
    "dataType" text NOT NULL,
    category text NOT NULL,
    label text NOT NULL,
    description text,
    "organizationId" integer,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.system_configs OWNER TO root;

--
-- Name: system_configs_configId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."system_configs_configId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."system_configs_configId_seq" OWNER TO root;

--
-- Name: system_configs_configId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."system_configs_configId_seq" OWNED BY public.system_configs."configId";


--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.system_logs (
    "logId" integer NOT NULL,
    action text,
    "executionTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "oldData" text,
    "newData" text,
    "userId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.system_logs OWNER TO root;

--
-- Name: system_logs_logId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."system_logs_logId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."system_logs_logId_seq" OWNER TO root;

--
-- Name: system_logs_logId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."system_logs_logId_seq" OWNED BY public.system_logs."logId";


--
-- Name: team_members; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.team_members (
    "registrationId" integer NOT NULL,
    "userId" integer NOT NULL,
    role text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.team_members OWNER TO root;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.user_roles (
    "userId" integer NOT NULL,
    "roleId" integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer
);


ALTER TABLE public.user_roles OWNER TO root;

--
-- Name: users; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.users (
    "userId" integer NOT NULL,
    "userName" text NOT NULL,
    "studentId" text,
    university text NOT NULL,
    "phoneNumber" text,
    email text NOT NULL,
    password text,
    status text DEFAULT 'active'::text NOT NULL,
    "avatarUrl" text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" integer,
    "updatedBy" integer,
    "deletedBy" integer,
    "className" text,
    faculty text,
    "googleId" text
);


ALTER TABLE public.users OWNER TO root;

--
-- Name: users_userId_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."users_userId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."users_userId_seq" OWNER TO root;

--
-- Name: users_userId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."users_userId_seq" OWNED BY public.users."userId";


--
-- Name: activities activityId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activities ALTER COLUMN "activityId" SET DEFAULT nextval('public."activities_activityId_seq"'::regclass);


--
-- Name: activity_categories categoryId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_categories ALTER COLUMN "categoryId" SET DEFAULT nextval('public."activity_categories_categoryId_seq"'::regclass);


--
-- Name: activity_checkins checkinId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_checkins ALTER COLUMN "checkinId" SET DEFAULT nextval('public."activity_checkins_checkinId_seq"'::regclass);


--
-- Name: activity_team_rules ruleId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_team_rules ALTER COLUMN "ruleId" SET DEFAULT nextval('public."activity_team_rules_ruleId_seq"'::regclass);


--
-- Name: answer_options answerOptionId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answer_options ALTER COLUMN "answerOptionId" SET DEFAULT nextval('public."answer_options_answerOptionId_seq"'::regclass);


--
-- Name: answers answerId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answers ALTER COLUMN "answerId" SET DEFAULT nextval('public."answers_answerId_seq"'::regclass);


--
-- Name: chat_messages messageId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN "messageId" SET DEFAULT nextval('public."chat_messages_messageId_seq"'::regclass);


--
-- Name: chat_sessions sessionId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_sessions ALTER COLUMN "sessionId" SET DEFAULT nextval('public."chat_sessions_sessionId_seq"'::regclass);


--
-- Name: club_applications applicationId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.club_applications ALTER COLUMN "applicationId" SET DEFAULT nextval('public."club_applications_applicationId_seq"'::regclass);


--
-- Name: form_responses responseId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_responses ALTER COLUMN "responseId" SET DEFAULT nextval('public."form_responses_responseId_seq"'::regclass);


--
-- Name: form_sections sectionId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_sections ALTER COLUMN "sectionId" SET DEFAULT nextval('public."form_sections_sectionId_seq"'::regclass);


--
-- Name: forms formId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.forms ALTER COLUMN "formId" SET DEFAULT nextval('public."forms_formId_seq"'::regclass);


--
-- Name: grid_rows rowId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grid_rows ALTER COLUMN "rowId" SET DEFAULT nextval('public."grid_rows_rowId_seq"'::regclass);


--
-- Name: notifications notificationId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notifications ALTER COLUMN "notificationId" SET DEFAULT nextval('public."notifications_notificationId_seq"'::regclass);


--
-- Name: organization_documents documentId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_documents ALTER COLUMN "documentId" SET DEFAULT nextval('public."organization_documents_documentId_seq"'::regclass);


--
-- Name: organizations organizationId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organizations ALTER COLUMN "organizationId" SET DEFAULT nextval('public."organizations_organizationId_seq"'::regclass);


--
-- Name: question_options optionId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.question_options ALTER COLUMN "optionId" SET DEFAULT nextval('public."question_options_optionId_seq"'::regclass);


--
-- Name: questions questionId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.questions ALTER COLUMN "questionId" SET DEFAULT nextval('public."questions_questionId_seq"'::regclass);


--
-- Name: registration_checkins checkinId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registration_checkins ALTER COLUMN "checkinId" SET DEFAULT nextval('public."registration_checkins_checkinId_seq"'::regclass);


--
-- Name: registrations registrationId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registrations ALTER COLUMN "registrationId" SET DEFAULT nextval('public."registrations_registrationId_seq"'::regclass);


--
-- Name: reviews reviewId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.reviews ALTER COLUMN "reviewId" SET DEFAULT nextval('public."reviews_reviewId_seq"'::regclass);


--
-- Name: roles roleId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.roles ALTER COLUMN "roleId" SET DEFAULT nextval('public."roles_roleId_seq"'::regclass);


--
-- Name: system_configs configId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_configs ALTER COLUMN "configId" SET DEFAULT nextval('public."system_configs_configId_seq"'::regclass);


--
-- Name: system_logs logId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_logs ALTER COLUMN "logId" SET DEFAULT nextval('public."system_logs_logId_seq"'::regclass);


--
-- Name: users userId; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users ALTER COLUMN "userId" SET DEFAULT nextval('public."users_userId_seq"'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: activity_categories; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: activity_checkins; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: activity_team_rules; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.activity_team_rules ("ruleId", "activityId", "minTeamMembers", "maxTeamMembers") FROM stdin;
1	2	2	5
2	9	7	11
3	10	2	2
4	11	2	6
5	13	2	4
6	37	2	5
7	40	1	5
8	41	2	5
\.


--
-- Data for Name: answer_options; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.answer_options ("answerOptionId", "otherText", "answerId", "optionId", "rowId", "isDeleted") FROM stdin;
1	\N	2	5	\N	f
2	\N	3	13	\N	f
3	\N	3	12	\N	f
4	\N	3	11	\N	f
5	\N	7	14	\N	f
6	\N	8	16	\N	f
7	\N	9	18	\N	f
8	\N	10	20	\N	f
9	\N	11	20	\N	f
10	\N	13	20	\N	f
11	\N	15	14	\N	f
12	\N	16	17	\N	f
13	\N	17	18	\N	f
\.


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.answers ("answerId", "textValue", "fileUrl", "questionId", "responseId", "isDeleted") FROM stdin;
1	hihi	\N	3	1	f
2	\N	\N	8	2	f
3	\N	\N	9	2	f
4	5	\N	10	2	f
5	hihi	\N	11	2	f
6	hihi	\N	12	3	f
7	\N	\N	13	3	f
8	\N	\N	14	3	f
9	\N	\N	15	3	f
10	\N	\N	16	4	f
11	\N	\N	16	5	f
12	\N	\N	16	6	f
13	\N	\N	16	7	f
14	h	\N	12	8	f
15	\N	\N	13	8	f
16	\N	\N	14	8	f
17	\N	\N	15	8	f
18	hi	\N	17	9	f
19	ok	\N	17	10	f
20	ok	\N	17	11	f
21	hi	\N	17	12	f
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: chat_sessions; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: club_applications; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: form_responses; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: form_sections; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.form_sections ("sectionId", title, description, "order", "navigationType", "formId", "isDeleted") FROM stdin;
1	Phan 1	\N	0	next	1	f
2	Phan 1	l├┤	0	next	2	f
3	Phß║ºn 1	\N	0	next	3	f
4	Personal Information	\N	0	next	4	f
5	Phß║ºn 1	\N	0	next	5	f
6	Phß║ºn 1	\N	0	next	6	f
7	Phß║ºn 1	\N	0	next	7	f
8	Phß║ºn 1	\N	0	next	8	f
9	Phß║ºn 1	\N	0	next	9	f
\.


--
-- Data for Name: forms; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: grid_rows; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.grid_rows ("rowId", label, "order", "questionId", "isDeleted") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: organization_documents; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: organization_members; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.question_options ("optionId", label, "order", "isOther", "imageUrl", "goToSectionId", "questionId", "isDeleted") FROM stdin;
1	Web Development	0	f	\N	\N	6	f
2	Mobile App	1	f	\N	\N	6	f
3	AI / Machine Learning	2	f	\N	\N	6	f
4	Cybersecurity	3	f	\N	\N	6	f
5	A	0	f	\N	\N	8	f
6	B	1	f	\N	\N	8	f
7	C	2	f	\N	\N	8	f
8	D	3	f	\N	\N	8	f
9	A	0	f	\N	\N	9	f
10	B	1	f	\N	\N	9	f
11	C	2	f	\N	\N	9	f
12	A B	3	f	\N	\N	9	f
13	A C	4	f	\N	\N	9	f
14	h	0	f	\N	\N	13	f
15	g	1	f	\N	\N	13	f
16	h	0	f	\N	\N	14	f
17	h	1	f	\N	\N	14	f
18	h	0	f	\N	\N	15	f
19	h	1	f	\N	\N	15	f
20	a	0	f	\N	\N	16	f
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: registration_checkins; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: registrations; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: system_configs; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: system_logs; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Name: activities_activityId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."activities_activityId_seq"', 43, true);


--
-- Name: activity_categories_categoryId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."activity_categories_categoryId_seq"', 7, true);


--
-- Name: activity_checkins_checkinId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."activity_checkins_checkinId_seq"', 37, true);


--
-- Name: activity_team_rules_ruleId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."activity_team_rules_ruleId_seq"', 8, true);


--
-- Name: answer_options_answerOptionId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."answer_options_answerOptionId_seq"', 13, true);


--
-- Name: answers_answerId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."answers_answerId_seq"', 21, true);


--
-- Name: chat_messages_messageId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."chat_messages_messageId_seq"', 48, true);


--
-- Name: chat_sessions_sessionId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."chat_sessions_sessionId_seq"', 9, true);


--
-- Name: club_applications_applicationId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."club_applications_applicationId_seq"', 21, true);


--
-- Name: form_responses_responseId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."form_responses_responseId_seq"', 12, true);


--
-- Name: form_sections_sectionId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."form_sections_sectionId_seq"', 9, true);


--
-- Name: forms_formId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."forms_formId_seq"', 9, true);


--
-- Name: grid_rows_rowId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."grid_rows_rowId_seq"', 1, false);


--
-- Name: notifications_notificationId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."notifications_notificationId_seq"', 117, true);


--
-- Name: organization_documents_documentId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."organization_documents_documentId_seq"', 20, true);


--
-- Name: organizations_organizationId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."organizations_organizationId_seq"', 16, true);


--
-- Name: question_options_optionId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."question_options_optionId_seq"', 20, true);


--
-- Name: questions_questionId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."questions_questionId_seq"', 18, true);


--
-- Name: registration_checkins_checkinId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."registration_checkins_checkinId_seq"', 22, true);


--
-- Name: registrations_registrationId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."registrations_registrationId_seq"', 42, true);


--
-- Name: reviews_reviewId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."reviews_reviewId_seq"', 20, true);


--
-- Name: roles_roleId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."roles_roleId_seq"', 5, true);


--
-- Name: system_configs_configId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."system_configs_configId_seq"', 7, true);


--
-- Name: system_logs_logId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."system_logs_logId_seq"', 37, true);


--
-- Name: users_userId_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."users_userId_seq"', 37, true);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY ("activityId");


--
-- Name: activity_categories activity_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_categories
    ADD CONSTRAINT activity_categories_pkey PRIMARY KEY ("categoryId");


--
-- Name: activity_checkins activity_checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_checkins
    ADD CONSTRAINT activity_checkins_pkey PRIMARY KEY ("checkinId");


--
-- Name: activity_team_rules activity_team_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_team_rules
    ADD CONSTRAINT activity_team_rules_pkey PRIMARY KEY ("ruleId");


--
-- Name: answer_options answer_options_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answer_options
    ADD CONSTRAINT answer_options_pkey PRIMARY KEY ("answerOptionId");


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY ("answerId");


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY ("messageId");


--
-- Name: chat_sessions chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_pkey PRIMARY KEY ("sessionId");


--
-- Name: club_applications club_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.club_applications
    ADD CONSTRAINT club_applications_pkey PRIMARY KEY ("applicationId");


--
-- Name: form_responses form_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_responses
    ADD CONSTRAINT form_responses_pkey PRIMARY KEY ("responseId");


--
-- Name: form_sections form_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_sections
    ADD CONSTRAINT form_sections_pkey PRIMARY KEY ("sectionId");


--
-- Name: forms forms_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT forms_pkey PRIMARY KEY ("formId");


--
-- Name: grid_rows grid_rows_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grid_rows
    ADD CONSTRAINT grid_rows_pkey PRIMARY KEY ("rowId");


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY ("notificationId");


--
-- Name: organization_documents organization_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_documents
    ADD CONSTRAINT organization_documents_pkey PRIMARY KEY ("documentId");


--
-- Name: organization_members organization_members_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT organization_members_pkey PRIMARY KEY ("userId", "organizationId");


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY ("organizationId");


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY ("optionId");


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY ("questionId");


--
-- Name: registration_checkins registration_checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registration_checkins
    ADD CONSTRAINT registration_checkins_pkey PRIMARY KEY ("checkinId");


--
-- Name: registrations registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_pkey PRIMARY KEY ("registrationId");


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY ("reviewId");


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY ("roleId");


--
-- Name: system_configs system_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_configs
    ADD CONSTRAINT system_configs_pkey PRIMARY KEY ("configId");


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY ("logId");


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY ("registrationId", "userId");


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY ("userId", "roleId");


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY ("userId");


--
-- Name: activity_categories_categoryName_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "activity_categories_categoryName_key" ON public.activity_categories USING btree ("categoryName");


--
-- Name: activity_team_rules_activityId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "activity_team_rules_activityId_key" ON public.activity_team_rules USING btree ("activityId");


--
-- Name: club_applications_activityId_userId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "club_applications_activityId_userId_key" ON public.club_applications USING btree ("activityId", "userId");


--
-- Name: club_applications_organizationId_userId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "club_applications_organizationId_userId_key" ON public.club_applications USING btree ("organizationId", "userId");


--
-- Name: forms_activityId_idx; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "forms_activityId_idx" ON public.forms USING btree ("activityId");


--
-- Name: forms_organizationId_idx; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "forms_organizationId_idx" ON public.forms USING btree ("organizationId");


--
-- Name: organizations_email_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX organizations_email_key ON public.organizations USING btree (email);


--
-- Name: registration_checkins_registrationId_activityCheckinId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "registration_checkins_registrationId_activityCheckinId_key" ON public.registration_checkins USING btree ("registrationId", "activityCheckinId");


--
-- Name: registrations_userId_activityId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "registrations_userId_activityId_key" ON public.registrations USING btree ("userId", "activityId");


--
-- Name: reviews_registrationId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "reviews_registrationId_key" ON public.reviews USING btree ("registrationId");


--
-- Name: roles_code_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX roles_code_key ON public.roles USING btree (code);


--
-- Name: roles_roleName_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "roles_roleName_key" ON public.roles USING btree ("roleName");


--
-- Name: system_configs_category_idx; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX system_configs_category_idx ON public.system_configs USING btree (category);


--
-- Name: system_configs_key_organizationId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "system_configs_key_organizationId_key" ON public.system_configs USING btree (key, "organizationId");


--
-- Name: system_configs_organizationId_idx; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "system_configs_organizationId_idx" ON public.system_configs USING btree ("organizationId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_googleId_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "users_googleId_key" ON public.users USING btree ("googleId");


--
-- Name: users_studentId_university_key; Type: INDEX; Schema: public; Owner: root
--

CREATE UNIQUE INDEX "users_studentId_university_key" ON public.users USING btree ("studentId", university);


--
-- Name: activities activities_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.activity_categories("categoryId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: activities activities_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: activities activities_registrationFormId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_registrationFormId_fkey" FOREIGN KEY ("registrationFormId") REFERENCES public.forms("formId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: activity_checkins activity_checkins_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_checkins
    ADD CONSTRAINT "activity_checkins_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public.activities("activityId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activity_team_rules activity_team_rules_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.activity_team_rules
    ADD CONSTRAINT "activity_team_rules_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public.activities("activityId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answer_options answer_options_answerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answer_options
    ADD CONSTRAINT "answer_options_answerId_fkey" FOREIGN KEY ("answerId") REFERENCES public.answers("answerId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answer_options answer_options_optionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answer_options
    ADD CONSTRAINT "answer_options_optionId_fkey" FOREIGN KEY ("optionId") REFERENCES public.question_options("optionId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: answer_options answer_options_rowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answer_options
    ADD CONSTRAINT "answer_options_rowId_fkey" FOREIGN KEY ("rowId") REFERENCES public.grid_rows("rowId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: answers answers_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "answers_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public.questions("questionId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: answers answers_responseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "answers_responseId_fkey" FOREIGN KEY ("responseId") REFERENCES public.form_responses("responseId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "chat_messages_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public.chat_sessions("sessionId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_sessions chat_sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT "chat_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: club_applications club_applications_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.club_applications
    ADD CONSTRAINT "club_applications_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public.activities("activityId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: club_applications club_applications_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.club_applications
    ADD CONSTRAINT "club_applications_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: club_applications club_applications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.club_applications
    ADD CONSTRAINT "club_applications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: form_responses form_responses_formId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_responses
    ADD CONSTRAINT "form_responses_formId_fkey" FOREIGN KEY ("formId") REFERENCES public.forms("formId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: form_responses form_responses_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_responses
    ADD CONSTRAINT "form_responses_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: form_sections form_sections_formId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.form_sections
    ADD CONSTRAINT "form_sections_formId_fkey" FOREIGN KEY ("formId") REFERENCES public.forms("formId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: forms forms_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT "forms_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public.activities("activityId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: forms forms_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT "forms_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: grid_rows grid_rows_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grid_rows
    ADD CONSTRAINT "grid_rows_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public.questions("questionId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: organization_documents organization_documents_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_documents
    ADD CONSTRAINT "organization_documents_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: organization_documents organization_documents_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_documents
    ADD CONSTRAINT "organization_documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: organization_members organization_members_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT "organization_members_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: organization_members organization_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT "organization_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: organizations organizations_recruitmentFormId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "organizations_recruitmentFormId_fkey" FOREIGN KEY ("recruitmentFormId") REFERENCES public.forms("formId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: question_options question_options_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT "question_options_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public.questions("questionId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: questions questions_sectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT "questions_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES public.form_sections("sectionId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: registration_checkins registration_checkins_activityCheckinId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registration_checkins
    ADD CONSTRAINT "registration_checkins_activityCheckinId_fkey" FOREIGN KEY ("activityCheckinId") REFERENCES public.activity_checkins("checkinId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: registration_checkins registration_checkins_registrationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registration_checkins
    ADD CONSTRAINT "registration_checkins_registrationId_fkey" FOREIGN KEY ("registrationId") REFERENCES public.registrations("registrationId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: registrations registrations_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "registrations_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public.activities("activityId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: registrations registrations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "registrations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: reviews reviews_registrationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_registrationId_fkey" FOREIGN KEY ("registrationId") REFERENCES public.registrations("registrationId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: system_configs system_configs_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_configs
    ADD CONSTRAINT "system_configs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations("organizationId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: system_logs system_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT "system_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: team_members team_members_registrationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT "team_members_registrationId_fkey" FOREIGN KEY ("registrationId") REFERENCES public.registrations("registrationId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: team_members team_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT "team_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_roles user_roles_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles("roleId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_roles user_roles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: root
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict LIco1Pw097eQBQHlRomqhq9PVec9wwPfAE9zpUjr6CSb3l4KFYcT2qrFboUFj6d

